<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js">



</script>

<body>

<button id="dealButton">Deal</button>
<button id="newGame">New Game</button>

<table>
    <tr class="title">
        <td>Column1</td>
        <td>Column2</td>
        <td>Column3</td>
        <td>Column4</td>
    </tr>

    <tr>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation1" id="col1[1]"></td></tr>
                <tr><td class="cardLocation2" id="col1[2]"></td></tr>
                <tr><td class="cardLocation3" id="col1[3]"></td></tr>
                <tr><td class="cardLocation4" id="col1[4]"></td></tr>
                <tr><td class="cardLocation5" id="col1[5]"></td></tr>
                <tr><td class="cardLocation6" id="col1[6]"></td></tr>
                <tr><td class="cardLocation7" id="col1[7]"></td></tr>
                <tr><td class="cardLocation8" id="col1[8]"></td></tr>
                <tr><td class="cardLocation9" id="col1[9]"></td></tr>
                <tr><td class="cardLocation10" id="col1[10]"></td></tr>
                <tr><td class="cardLocation11" id="col1[11]"></td></tr>
                <tr><td class="cardLocation12" id="col1[12]"></td></tr>
                <tr><td class="cardLocation13" id="col1[13]"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table border="+1">
                <tr><td class="cardLocationl" id="col2[1]"></td></tr>
                <tr><td class="cardLocation2" id="col2[2]"></td></tr>
                <tr><td class="cardLocation3" id="col2[3]"></td></tr>
                <tr><td class="cardLocation4" id="col2[4]"></td></tr>
                <tr><td class="cardLocation5" id="col2[5]"></td></tr>
                <tr><td class="cardLocation6" id="col2[6]"></td></tr>
                <tr><td class="cardLocation7" id="col2[7]"></td></tr>
                <tr><td class="cardLocation8" id="col2[8]"></td></tr>
                <tr><td class="cardLocation9" id="col2[9]"></td></tr>
                <tr><td class="cardLocation10" id="col2[10]"></td></tr>
                <tr><td class="cardLocation11" id="col2[11]"></td></tr>
                <tr><td class="cardLocation12" id="col2[12]"></td></tr>
                <tr><td class="cardLocation13" id="col2[13]"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table border="+1">
                <tr><td class="cardLocation1" id="col3[1]"></td></tr>
                <tr><td class="cardLocation2" id="col3[2]"></td></tr>
                <tr><td class="cardLocation3" id="col3[3]"></td></tr>
                <tr><td class="cardLocation4" id="col3[4]"></td></tr>
                <tr><td class="cardLocation5" id="col3[5]"></td></tr>
                <tr><td class="cardLocation6" id="col3[6]"></td></tr>
                <tr><td class="cardLocation7" id="col3[7]"></td></tr>
                <tr><td class="cardLocation8" id="col3[8]"></td></tr>
                <tr><td class="cardLocation9" id="col3[9]"></td></tr>
                <tr><td class="cardLocation10" id="col3[10]"></td></tr>
                <tr><td class="cardLocation11" id="col3[11]"></td></tr>
                <tr><td class="cardLocation12" id="col3[12]"></td></tr>
                <tr><td class="cardLocation13" id="col3[13]"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c4">
            <table border="+1">
                <tr><td class="cardLocation1" id="col4[1]"></td></tr>
                <tr><td class="cardLocation2" id="col4[2]"></td></tr>
                <tr><td class="cardLocation3" id="col4[3]"></td></tr>
                <tr><td class="cardLocation4" id="col4[4]"></td></tr>
                <tr><td class="cardLocation5" id="col4[5]"></td></tr>
                <tr><td class="cardLocation6" id="col4[6]"></td></tr>
                <tr><td class="cardLocation7" id="col4[7]"></td></tr>
                <tr><td class="cardLocation8" id="col4[8]"></td></tr>
                <tr><td class="cardLocation9" id="col4[9]"></td></tr>
                <tr><td class="cardLocation10" id="col4[10]"></td></tr>
                <tr><td class="cardLocation11" id="col4[11]"></td></tr>
                <tr><td class="cardLocation12" id="col4[12]"></td></tr>
                <tr><td class="cardLocation13" id="col4[13]"></td></tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>